<div class="container col-xl-3">
    <div>teraz gra: {{currentlyPlaying}}</div>
    <button class="btn" (click)="fireAction($event)" data-action="prev">
        <i class="fa fa-backward m-sm-0"></i></button>
    <button class="btn" (click)="fireAction($event)"  data-action="play">
        <i class="fa fa-play m-sm-0"></i></button>
    <button class="btn" (click)="fireAction($event)" data-action="pause">
        <i class="fa fa-pause m-sm-0" ></i></button>
    <button class="btn" (click)="fireAction($event)" data-action="stop">
        <i class="fa fa-stop m-sm-0"></i></button>
    <button class="btn" (click)="fireAction($event)" data-action="next">
        <i class="fa fa-forward m-sm-0"></i></button>
    <br>
    <button class="btn" (click)="fireAction($event)" data-action="rev">-5s</button>
    <button class="btn" (click)="fireAction($event)" data-action="volup">
        <i class="fa fa-volume-down"></i>
    </button>
    <button class="btn" (click)="fireAction($event)" data-action="volup">
        <i class="fa fa-volume-up"></i>
    </button>
    <button class="btn" (click)="fireAction($event)" data-action="random">
        <i class="fa fa-random"></i>
    </button>

    <button class="btn" (click)="fireAction($event)" data-action="fwd">+5s</button>
</div>
